@import './tailwind.css';

:root {
  --background: oklch(100% 0 0);
  --foreground: oklch(20% 0.04 256);
  --accent: oklch(64% 0.24 256);
}

.dark:root {
  --background: oklch(20% 0 0);
  --foreground: oklch(90% 0 256);
  --accent: oklch(64% 0.24 256);
}

@layer base {
  body {
    @apply bg-background text-foreground;
    @apply scrollbar-thin scrollbar-thumb-background-100 scrollbar-thumb-rounded-full scrollbar-track-transparent;
  }
}
